*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: linear-gradient(#f0f1f4 50%, #f5a623 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 300px;
  /* height: 500px; */
  background-color: #3b3939;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-family: cursive;
}
.container h2{
  color: #fff;
}
.person{
  width: 85%;
  display: flex;
  align-items: center;
}
.person h4{
  color: white;
  font-size: 20px;
}
.person img{
  width: 70px;
  border-radius: 50%;
}
.person p{
  color: #f5a623;
}